<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        background-image: url("/images/JU_CSE_IT_bg-img.jpg");
      }
      .password-input {
        position: relative;
        display: flex;
      }
      .password-input span {
        text-align: center;
        font-size: 24px;
        color: #90909090;
        padding: 8px 0;
        position: absolute;
        right: 14px;
      }
      .password-input span:hover {
        cursor: pointer;
      }
      #visibility_off {
        display: none;
      }
    </style>
  </head>
  <body>
    <%- include ("../header.ejs") %>
    <div class="form-section">
      <form action="/admin/login" method="POST" class="registration-login-form">
        <h2>Admin Login</h2>
        <% if (message) { %>
        <div class="alert alert-danger">
          <i class="fa-regular fa-circle-xmark"></i> <%= message %>
        </div>
        <% } %>

        <div>
          <label for="username">Username:</label>
          <input type="text" name="username" required />
        </div>

        <div>
          <label for="password">Password:</label>
          <div class="password-input">
            <input type="password" name="password" id="password" required />
            <span class="material-symbols-outlined" id="visibility">
              visibility
            </span>
            <span class="material-symbols-outlined" id="visibility_off">
              visibility_off
            </span>
          </div>
        </div>

        <div>
          <button type="submit">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>Login
          </button>
        </div>
      </form>
    </div>

    <script>
      document
        .getElementById("visibility")
        .addEventListener("click", function () {
          const passwordField = document.getElementById("password");
          const visibilityIcon = document.getElementById("visibility");
          const visibilityOffIcon = document.getElementById("visibility_off");

          if (passwordField.type === "password") {
            passwordField.type = "text";
            visibilityIcon.style.display = "none";
            visibilityOffIcon.style.display = "inline";
          } else {
            passwordField.type = "password";
            visibilityIcon.style.display = "inline";
            visibilityOffIcon.style.display = "none";
          }
        });

      document
        .getElementById("visibility_off")
        .addEventListener("click", function () {
          const passwordField = document.getElementById("password");
          const visibilityIcon = document.getElementById("visibility");
          const visibilityOffIcon = document.getElementById("visibility_off");

          passwordField.type = "password";
          visibilityIcon.style.display = "inline";
          visibilityOffIcon.style.display = "none";
        });
    </script>
  </body>
</html>
