<footer class="bg-blue-900 text-white py-3 text-center fixed bottom-0 left-0 right-0 -z-50">
  <div class="flex justify-center items-center">
    <h3 class="m-0 text-sm font-medium">
      &copy; 2024 University of Jammu, J&K. All rights reserved
    </h3>
  </div>
</footer>
