<header class="bg-blue-950 text-white min-h-36">
  <div class="flex flex-col md:flex-row items-center justify-center gap-8 md:gap-8 py-6 md:py-0">
    <!-- Logo Section -->
    <div class="w-[120px] md:w-[150px] flex-shrink-0">
      <a href="/">
        <img
          src="/public/images/JU_Logo.png"
          alt="Jammu University Logo"
          class="w-[120px] md:w-[120px]"
        />
      </a>
    </div>
    <!-- Title Section -->
    <div class="text-center">
      <h1 class="text-xl md:text-3xl font-extrabold mb-1">University of Jammu</h1>
      <h2 class="text-lg md:text-xl font-medium">Department of Computer Science and IT</h2>
    </div>
  </div>
</header>
