footer {
  background-color: #00005c;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-center h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
