@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #003366;
  width: 100%;
  color: #fff;
}
.header {
  height: 140px;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}
.header-left {
  width: 150px;
}
.header-left img {
  width: 120px;
}
.header-right {
  text-align: center;
}
.header-right h1 {
  margin: 5px;
  font-size: 2.9rem;
  font-weight: bolder;
}
.header-right h2 {
  margin: 5px;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  .header {
    height: auto;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .header-left {
    width: 120px;
  }
  .header-right h1 {
    font-size: 1.8rem;
  }
  .header-right h2 {
    font-size: 1.2rem;
  }
}
