<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
    <link rel="stylesheet" href="/public/css/tailwind.css" />
    <link rel="stylesheet" href="/public/css-fontawesome/all.min.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/public/js/loaderScript.js" defer></script>
    <script src="/public/js/loadHeaderFooter.js"></script>
  </head>
  <body class="bg-gray-100 font-sans">
    <!-- Main Content -->
    <div id="content">
      <div id="header" class="min-h-36"></div>

      <div class="flex justify-center items-center mt-4 mb-4">
        <form
          action="/student/login"
          method="POST"
          class="h-510 bg-white p-6 pb-10 rounded-lg shadow-md w-full max-w-sm"
        >
          <h2 class="text-2xl font-semibold text-gray-800 mb-5">
            Student Login
          </h2>

          <% if (successMessage) { %>
          <div
            class="fixed top-12 right-4 bg-green-100 text-green-700 px-4 py-3 rounded flex items-center space-x-3 shadow-lg"
            id="popup-alert"
          >
            <i class="fa-regular fa-circle-check"></i>
            <span><%= successMessage %></span>
            <button
              class="ml-4 text-green-700 font-bold hover:underline"
              onclick="document.getElementById('popup-alert').remove()"
            >
              Close
            </button>
          </div>
          <% } %> <% if (message) { %>
          <div
            class="fixed top-10 right-4 bg-red-100 text-red-700 px-4 py-3 rounded shadow-lg flex items-center space-x-3"
            id="popup-alert"
          >
            <i class="fa-regular fa-circle-xmark"></i>
            <span><%= message %></span>
            <button
              class="ml-4 text-red-700 font-bold hover:underline"
              onclick="document.getElementById('popup-alert').remove()"
            >
              Close
            </button>
          </div>
          <% } %>

          <div
            class="fixed top-10 right-4 bg-red-100 text-red-700 px-4 py-3 rounded shadow-lg md:flex items-center space-x-3 hidden"
            id="popup-alert-validation"
          >
            <i class="fa-regular fa-circle-xmark"></i>
            <span><%= message %></span>
            <button
              class="ml-4 text-red-700 font-bold hover:underline"
              onclick="document.getElementById('popup-alert-validation').remove()"
            >
              Close
            </button>
          </div>

          <div>
            <label for="rollno" class="block font-medium text-gray-700 mb-1"
              >Roll Number:</label
            >
            <input
              type="text"
              id="rollno"
              name="rollno"
              class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500 mb-4"
            />
          </div>

          <div class="mb-4">
            <label for="password" class="block font-medium text-gray-700 mb-1"
              >Password:</label
            >
            <div class="relative">
              <input
                type="password"
                id="password"
                name="password"
                class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-500"
              />
              <span
                class="absolute inset-y-0 right-3 flex items-center text-gray-400 cursor-pointer material-symbols-outlined"
                id="visibility"
              >
                <i class="fa-regular fa-eye"></i>
              </span>
              <span
                class="absolute inset-y-0 right-3 md:flex items-center text-gray-400 cursor-pointer material-symbols-outlined hidden"
                id="visibility_off"
              >
                <i class="fa-regular fa-eye-slash"></i>
              </span>
            </div>
          </div>

          <div class="mb-4">
            <a
              href="/student/reset-password"
              class="text-blue-600 text-sm hover:underline"
              >Forget Password?</a
            >
          </div>

          <div class="h-78 flex justify-center items-center mb-4">
            <div
              id="recaptcha"
              class="g-recaptcha"
              data-sitekey="6Le_hiAqAAAAAOa3_BU3SnZ-Jti9k_4SrhTO_k-E"
            ></div>
          </div>

          <div class="mb-4">
            <button
              type="submit"
              class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 flex justify-center items-center font-medium focus:ring focus:ring-blue-500"
            >
              <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i>Login
            </button>
          </div>

          <div class="text-center mt-4">
            <a
              href="/student/registration"
              class="text-blue-600 hover:underline text font-medium"
              >Register</a
            >
          </div>
        </form>
      </div>
    </div>
    <script async defer>
      // Toggle Password Visibility
      document.addEventListener('DOMContentLoaded', () => {
        const toggleVisibility = (iconShow, iconHide, passwordInput) => {
          iconShow.addEventListener('click', () => {
            passwordInput.type = 'text';
            iconShow.classList.add('hidden');
            iconHide.classList.remove('hidden');
          });

          iconHide.addEventListener('click', () => {
            passwordInput.type = 'password';
            iconHide.classList.add('hidden');
            iconShow.classList.remove('hidden');
          });
        };

        const passwordField = document.getElementById('password');
        const visibility = document.getElementById('visibility');
        const visibilityOff = document.getElementById('visibility_off');

        toggleVisibility(visibility, visibilityOff, passwordField);
      });

      document.addEventListener('DOMContentLoaded', () => {
        const passwordInput = document.getElementById('password');
        const rollnoInput = document.getElementById('rollno');
        const form = document.querySelector('form');
        const errorMessage = document.getElementById('popup-alert-validation');

        // Input Validation Feedback
        const hideError = () => {
          if (errorMessage) errorMessage.classList.add('hidden');
        };

        rollnoInput.addEventListener('input', hideError);
        passwordInput.addEventListener('input', hideError);

        // Form Submission Validation
        form.addEventListener('submit', (e) => {
          let isValid = true;
          const recaptchaResponse = grecaptcha.getResponse(); // Get the reCAPTCHA response

          // Clear any existing error messages
          if (errorMessage) errorMessage.classList.add('hidden');

          // Roll Number Validation
          if (!rollnoInput.value.trim()) {
            isValid = false;
            showError('Roll Number is required.');
          }

          // Password Validation
          if (!passwordInput.value.trim()) {
            isValid = false;
            showError('Password is required.');
          }
          // Both Rollno and Password Validation
          if (!passwordInput.value.trim() && !rollnoInput.value.trim()) {
            isValid = false;
            showError('Rollno as well as Password is required.');
          }

          // If the response is empty, show an error and prevent submission
          if (!recaptchaResponse) {
            e.preventDefault();
            showError('Please complete the reCAPTCHA.');
          }

          // Prevent submission if invalid
          if (!isValid) {
            e.preventDefault();
          }
        });

        const showError = (message) => {
          if (errorMessage) {
            errorMessage.querySelector('span').innerText = message;
            errorMessage.classList.remove('hidden');
          }
        };
      });
    </script>
  </body>
</html>
