<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Open Sans", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f4f9;
      }
      .form-section {
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }
      .registration-login-form {
        background-color: #fff;
        padding: 20px;
        padding-bottom: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 350px;
        max-width: 400px;
        box-sizing: border-box;
      }
      .registration-login-form h2 {
        margin-bottom: 20px;
        color: #333;
      }
      .registration-login-form .alert {
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
      }
      .registration-login-form .alert-success {
        background-color: #dff0d8;
        color: #3c763d;
      }
      .registration-login-form .alert-error .alert-danger {
        background-color: #f2dede;
        color: #a94442;
      }
      .registration-login-form .alert-danger {
        background-color: #f2dede;
        color: #a94442;
      }
      .registration-login-form label {
        display: block;
        margin-bottom: 5px;
        color: #555;
      }
      .registration-login-form input[type="text"],
      .registration-login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
      }
      .registration-login-form input:hover {
        border: 1px solid #555555;
      }
      .registration-login-form input:focus {
        border: 1px solid #000;
        box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.4);
      }
      .registration-login-form a {
        color: #0169d8;
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 5px;
        display: inline-block;
      }
      .registration-login-form a:hover {
        text-decoration: underline;
      }
      .registration-login-form button {
        background-color: #0072d5;
        color: #fff;
        padding: 15px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .registration-login-form button:hover {
        background-color: #0056b3;
      }
      .registration-login-form p {
        margin: 10px 0;
        color: #555;
      }
      .registration-login-form button i {
        margin-right: 10px;
        font-size: 15px;
      }
      .registration-login-form .register-link {
        text-align: center;
        margin-top: 10px;
      }
      .recaptcha-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #recaptcha {
        transform: scale(0.9);
      }
    </style>

    <script
      rel="preload"
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>
    <!-- reCAPTCHA -->
    <script
      rel="preload"
      src="https://www.google.com/recaptcha/api.js"
      async
      defer
    ></script>
  </head>
  <body>
    <%- include ("../header.ejs") %>
    <div class="main-div">
      <div class="form-section">
        <form
          action="/student/registration"
          method="POST"
          onsubmit="return conifirmMe(event)"
          class="registration-login-form"
        >
          <h2>Student Registration</h2>

          <% if (typeof error !== 'undefined' && error === 'exists') { %>
          <div class="alert alert-danger">
            <i class="fa-regular fa-circle-xmark"></i>
            Student with this roll number already exists.<br />Please log in
            using your roll number.
          </div>
          <% } %>
          <div>
            <label for="rollno">Roll Number:</label>
            <input
              type="text"
              name="rollno"
              id="rollno"
              pattern="\d{3}[A-Z]{3}\d{4}"
              title="Enter correct Roll No. (Eg. 121CSE2024)"
              required
            />
          </div>

          <div>
            <label for="dob">Date of Birth (DD-MM-YYYY):</label>
            <input
              type="text"
              id="dob"
              name="dob"
              pattern="\d{2}-\d{2}-\d{4}"
              required
            />
          </div>

          <!-- reCAPTCHA -->
          <div class="recaptcha-container">
            <div
              id="recaptcha"
              class="g-recaptcha"
              data-sitekey="6Le_hiAqAAAAAOa3_BU3SnZ-Jti9k_4SrhTO_k-E"
            ></div>
          </div>

          <div>
            <button type="submit">
              <i class="fa-solid fa-user-plus"></i>Register
            </button>
          </div>
          <div class="register-link">
            <a href="/student/login">Login</a>
          </div>
        </form>
      </div>
    </div>
    <%- include ("../footer.ejs") %>
    <script>
      // TO UPPERCASE WHEN USER TYPE ROLL NO
      document.addEventListener("DOMContentLoaded", function () {
        const input = document.getElementById("rollno");
        input.addEventListener("input", function () {
          this.value = this.value.toUpperCase();
        });
      });

      // Confirm Details before submission
      function conifirmMe(event) {
        // Get values entered by the user
        let rollno = document.getElementById("rollno").value;
        let dob = document.getElementById("dob").value;

        let confirmationMessage = "Please review your details:\n\n";
        confirmationMessage += "Roll Number: " + rollno + "\n";
        confirmationMessage += "Date of Birth: " + dob + "\n";
        confirmationMessage += "Do you want to proceed with registration?";

        let confirmRegister = confirm(confirmationMessage);

        return confirmRegister;
      }
    </script>
  </body>
</html>
