<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>
    <link href="/public/css/tailwind.css" rel="stylesheet" />
    <script src="/public/js/loadHeaderFooter.js" defer></script>
    <script src="/public/js/loaderScript.js" defer></script>
    <script
      src="https://kit.fontawesome.com/9ca9aa7819.js"
      crossorigin="anonymous"
    ></script>

    <style>
      body {
        font-family: 'Open Sans', sans-serif;
        background-color: #f4f7f6;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      form {
        margin: 5px auto;
        background-color: #ededed;
        border-radius: 10px;
        padding: 20px;
        max-width: 900px;
        min-height: 520px;
      }
      form h2 {
        color: #2a2a2a;
        text-align: center;
        margin: 0px;
      }
      table {
        margin: 0 auto;
      }
      th,
      td {
        text-align: left;
      }
      input[type='text'],
      input[type='number'],
      input[type='tel'],
      input[type='email'],
      input[type='file'],
      textarea,
      select {
        margin-bottom: 3px;
        margin-right: 25px;
        width: 200px;
        -moz-appearance: textfield;
        appearance: textfield;
        font-family: 'Open Sans', sans-serif;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        outline: none;
      }
      textarea {
        resize: vertical;
      }

      input:hover,
      textarea:hover,
      select:hover {
        border: 1px solid #555555;
      }
      input:focus,
      textarea:focus,
      select:focus {
        border: 1px solid black;
        box-shadow: 0px 0px 5px 0.2px rgba(0, 0, 0, 0.4);
      }
      #imagePreview {
        display: block;
        width: 100%;
        max-width: 150px;
        height: auto;
        border-radius: 5px;
      }
      #imagePreview-caption {
        display: block;
      }
      @media screen and (max-width: 700px) {
        form {
          height: 100%;
        }
        table {
          display: block;
          width: 100%;
        }
        tr,
        td {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
        input[type='text'],
        input[type='number'],
        input[type='tel'],
        input[type='email'],
        input[type='file'],
        textarea,
        select {
          width: 100%;
        }
        button {
          position: relative;
          right: 0;
        }
      }
      #star-span {
        color: red;
      }
    </style>

    <script type="text/javascript" async defer>
      var states_arr = [
        'Andhra Pradesh',
        'Arunachal Pradesh',
        'Assam',
        'Bihar',
        'Chhattisgarh',
        'Goa',
        'Gujarat',
        'Haryana',
        'Himachal Pradesh',
        'Jammu and Kashmir',
        'Jharkhand',
        'Karnataka',
        'Kerala',
        'Madhya Pradesh',
        'Maharashtra',
        'Manipur',
        'Meghalaya',
        'Mizoram',
        'Nagaland',
        'Odisha',
        'Punjab',
        'Rajasthan',
        'Sikkim',
        'Tamil Nadu',
        'Telangana',
        'Tripura',
        'Uttar Pradesh',
        'Uttarakhand',
        'West Bengal',
        'Andaman and Nicobar Islands',
        'Chandigarh',
        'Dadra and Nagar Haveli and Daman and Diu',
        'Delhi',
        'Lakshadweep',
        'Puducherry',
      ];

      var district_arr = [
        '', // Empty for default option
        'Anantapur|Chittoor|Cuddapah|East Godavari|Guntur|Krishna|Kurnool|Nellore|Prakasam|Srikakulam|Vishakapatnam|Vizianagaram|West Godavari',
        'Anjaw|Changlang|Dibang Valley|East Kameng|East Siang|Kra Daadi|Kurung Kumey|Lohit|Longding|Lower Dibang Valley|Lower Subansiri|Namsai|Papum Pare|Siang|Tawang|Tirap|Upper Siang|Upper Subansiri|West Kameng|West Siang',
        'Baksa|Barpeta|Bongaigaon|Cachar|Chirang|Darrang|Dhemaji|Dhubri|Dibrugarh|Dima Hasao|Goalpara|Golaghat|Hailakandi|Jorhat|Kamrup M|Kamrup R|Karbi Anglong|Karimganj|Kokrajhar|Lakhimpur|Marigaon|Nagaon|Nalbari|Sibsagar|Sonitpur|Tinsukia|Udalguri',
        'Araria|Arwal|Aurangabad|Banka|Begusarai|Bhagalpur|Bhojpur|Buxar|Darbhanga|East Champaran|Gaya|Gopalganj|Jamui|Jehanabad|Kaimur Bhabua|Katihar|Khagaria|Kishanganj|Lakhisarai|Madhepura|Madhubani|Munger|Muzaffarpur|Nalanda|Nawada|Patna|Purnia|Rohtas|Saharsa|Samastipur|Saran|Sheikhpura|Sheohar|Sitamarhi|Siwan|Supaul|Vaishali|West Champaran',
        'Balod|Baloda Bazar|Balrampur|Bastar|Bemetra|Bijapur|Bilaspur|Dantewada|Dhamtari|Durg|Gariyaband|Janjgir Champa|Jashpur|Kanker|Kawardha|Kondagaon|Korba|Koriya|Mahasamund|Mungeli|Narayanpur|Raigarh|Raipur|Rajnandgaon|Sukma|Surajpur|Surguja',
        'North Goa|South Goa',
        'Ahmedabad|Amreli|Anand|Aravalli|Banas Kantha|Bharuch|Bhavnagar|Botad|Chhotaudepur|Dahod|Devbhumi Dwarka|Gandhinagar|Gir Somnath|Jamnagar|Junagadh|Kachchh|Kheda|Mahesana|Mahisagar|Morbi|Narmada|Navsari|Panch Mahals|Patan|Porbandar|Rajkot|Sabar Kantha|Surat|Surendranagar|Tapi|The Dangs|Vadodara|Valsad',
        'Ambala|Bhiwani|Faridabad|Fatehabad|Gurgaon|Hisar|Jhajjar|Jind|Kaithal|Karnal|Kurukshetra|Mahendragarh|Mewat|Palwal|Panchkula|Panipat|Rewari|Rohtak|Sirsa|Sonipat|Yamunanagar',
        'Bilaspur|Chamba|Hamirpur|Kangra|Kinnaur|Kullu|Lahul Spiti|Mandi|Shimla|Sirmaur|Solan|Una',
        'Anantnag|Badgam|Bandipora|Baramula|Doda|Ganderbal|Jammu|Kargil|Kathua|Kishtwar|Kulgam|Kupwara|Leh Ladakh|Poonch|Pulwama|Rajouri|Ramban|Reasi|Samba|Shopian|Srinagar|Udhampur',
        'Bokaro|Chatra|Deoghar|Dhanbad|Dumka|Garhwa|Giridih|Godda|Gumla|Hazaribagh|Jamtara|Khunti|Kodarma|Latehar|Lohardaga|Pakaur|Palamu|Pashchimi Singhbhum|Purbi Singhbhum|Ramgarh|Ranchi|Sahibganj|Saraikela|Simdega',
        'Bagalkote|Bangalore Rural|Bangalore Urban|Belgaum|Bellary|Bidar|Bijapur|Chamrajnagar|Chikkaballapur|Chikmagalur|Chitradurga|Dakshina Kannada|Davanagere|Dharwad|Gadag|Gulbarga|Hassan|Haveri|Kodagu|Kolar|Koppal|Mandya|Mysore|Raichur|Ramanagar|Shimoga|Tumkur|Udupi|Uttara Kannada|Yadgir',
        'Alappuzha|Ernakulam|Idukki|Kannur|Kasaragod|Kollam|Kottayam|KOZHIKKODE|Malappuram|Palakkad|Pathanamthitta|Thiruvananthapuram|Thrissur|Wayanad',
        'Agar Malwa|Alirajpur|Anuppur|Ashok Nagar|Balaghat|Barwani|Betul|Bhind|Bhopal|Burhanpur|Chhatarpur|Chhindwada|Damoh|Datia|Dewas|Dhar|Dindori|Guna|Gwalior|Harda|Hoshangabad|Indore|Jabalpur|Jhabua|Katni|Khandwa|Khargone|Mandla|Mandsaur|Morena|Narsinghpur|Neemuch|Panna|Raisen|Rajgarh|Ratlam|Rewa|Sagar|Satna|Sehore|Seoni|Shahdol|Shajapur|Sheopur|Shivpuri|Sidhi|Singroli|Tikamgarh|Ujjain|Umaria|Vidisha',
        'Ahmednagar|Akola|Amravati|Aurangabad|Bhandara|Bid|Brihan Mumbai|Buldana|Chandrapur|Dhule|Gadchiroli|Gondiya|Hingoli|Jalgaon|Jalna|Kolhapur|Latur|Nagpur|Nanded|Nandurbar|Nashik|Osmanabad|Palghar|Parbhani|Pune|Raigarh|Ratnagiri|Sangli|Satara|Sindhudurg|Solapur|Thane|Wardha|Washim|Yavatmal',
        'Bishnupur|Chandel|Churachandpur|Imphal East|Imphal West|Senapati|Tamenglong|Thoubal|Ukhrul',
        'East Garo Hills|East Jaintia Hills|East Khasi Hills|North Garo Hills|Ri Bhoi|South Garo Hills|South West Garo Hills|South West Khasi Hills|West Garo Hills|West Jaintia Hills|West Khasi Hills',
        'Aizawl East|Aizawl West|Champhai|Kolasib|Lawngtlai|Lunglei|Mamit|Saiha|Serchhip',
        'Dimapur|Kiphire|Kohima|Longleng|Mokokchung|Mon|Peren|Phek|Tuensang|Wokha|Zunheboto',
        'Anugul|Balangir|Baleshwar|Bargarh|Baudh|Bhadrak|Cuttack|Deogarh|Dhenkanal|Gajapati|Ganjam|Jagatsinghpur|Jajapur|Jharsuguda|Kalahandi|Kandhamal|Kendrapara|Keonjhar|Khordha|Koraput|Malkangiri|Mayurbhanj|Nabarangpur|Nayagarh|Nuapada|Puri|Rayagada|Sambalpur|Sonapur|Sundargarh',
        'Amritsar|Barnala|Bathinda|Faridkot|Fatehgarh Sahib|Fazilka|Firozpur|Gurdaspur|Hoshiarpur|Jalandhar|Kapurthala|Ludhiana|Mansa|Moga|Muktsar|Pathankot|Patiala|Rupnagar|Sahibzada Ajit Singh Nagar|Sangrur|Shahid Bhagat Singh Nagar|Taran Taran',
        'Ajmer|Alwar|Banswara|Baran|Barmer|Bharatpur|Bhilwara|Bikaner|Bundi|Chittorgarh|Churu|Dausa|Dholpur|Dungarpur|Ganganagar|Hanumangarh|Jaipur|Jaisalmer|Jalore|Jhalawar|Jhunjhunu|Jodhpur|Karauli|Kota|Nagaur|Pali|Pratapgarh|Rajsamand|Sawai Madhopur|Sikar|Sirohi|Tonk|Udaipur',
        'East District|North District|South District|West District',
        'Ariyalur|Chennai|Coimbatore|Cuddalore|Dharmapuri|Dindigul|Erode|Kanchipuram|Kanyakumari|Karur|Krishnagiri|Madurai|Nagapattinam|Namakkal|Perambalur|Pudukottai|Ramanathapuram|Salem|Sivaganga|Thanjavur|The Nilgiris|Theni|Thiruvallur|Thiruvarur|Thoothukudi|Tiruchirappalli|Tirunelveli|Tiruppur|Tiruvannamalai|Vellore|Villupuram|Virudhunagar',
        'Adilabad|Bhadradri Kothagudem|Hyderabad|Jagtial|Jangaon|Jayashankar Bhoopalpally|Jogulamba Gadwal|Kamareddy|Karimnagar|Khammam|Kumuram Bheem Asifabad|Mahabubabad|Mahbubnagar|Mancherial|Medak|Medchal Malkajgiri|Nagarkurnool|Nalgonda|Nirmal|Nizamabad|Peddapalli|Rajanna Sircilla|Ranga Reddy|Sangareddy|Siddipet|Suryapet|Vikarabad|Wanaparthy|Warangal (Urban)|Warangal (Rural)|Yadadri Bhuvanagiri',
        'Dhalai|Gomati|Khowai|North Tripura|Sepahijala|South Tripura|Unakoti|West Tripura',
        'Agra|Aligarh|Allahabad|Ambedkar Nagar|Auraiya|Azamgarh|Bagpat|Bahraich|Ballia|Balrampur|Banda|Bara Banki|Bareilly|Basti|Bijnor|Budaun|Bulandshahr|Chandauli|Chitrakoot|Deoria|Etah|Etawah|Faizabad|Farrukhabad|Fatehpur|Firozabad|Gautam Buddha Nagar|Ghaziabad|Ghazipur|Gonda|Gorakhpur|Hamirpur|Hardoi|Hathras|Jalaun|Jaunpur|Jhansi|Jyotiba Phule Nagar|Kannauj|Kanpur Dehat|Kanpur Nagar|Kanshiram Nagar|Kaushambi|Kushinagar|Lakhimpur Kheri|Lalitpur|Lucknow|Maharajganj|Mahoba|Mainpuri|Mathura|Mau|Meerut|Mirzapur|Moradabad|Muzaffarnagar|Pilibhit|Pratapgarh|Rae Bareli|Rampur|Saharanpur|Sant Kabir Nagar|Sant Ravi Das Nagar|Shahjahanpur|Shravasti|Siddharthnagar|Sitapur|Sonbhadra|Sultanpur|Unnao|Varanasi',
        'Almora|Bageshwar|Chamoli|Champawat|Dehradun|Haridwar|Nainital|Pauri Garhwal|Pithoragarh|Rudraprayag|Tehri Garhwal|Udham Singh Nagar|Uttarkashi',
        'Alipurduar|Bankura|Birbhum|Cooch Behar|Dakshin Dinajpur|Darjeeling|Hooghly|Howrah|Jalpaiguri|Jhargram|Kalimpong|Kolkata|Malda|Murshidabad|Nadia|North 24 Parganas|Paschim Bardhaman|Paschim Medinipur|Purba Bardhaman|Purba Medinipur|Purulia|South 24 Parganas|Uttar Dinajpur',
        'Nicobar|North and Middle Andaman|South Andaman',
        'Chandigarh',
        'Dadra and Nagar Haveli and Daman and Diu',
        'Delhi',
        'Lakshadweep',
        'Puducherry|Karaikal|Mahe|Yanam',
      ];

      function print_state(state_id) {
        var option_str = document.getElementById(state_id);
        option_str.length = 0;
        option_str.options[0] = new Option('Select State', '');
        option_str.selectedIndex = 0;
        for (var i = 0; i < states_arr.length; i++) {
          option_str.options[option_str.length] = new Option(
            states_arr[i],
            states_arr[i]
          );
        }
      }

      function print_district(district_id, district_index) {
        var option_str = document.getElementById(district_id);
        option_str.length = 0;
        option_str.options[0] = new Option('Select District', '');
        option_str.selectedIndex = 0;
        var district_arr_list = district_arr[district_index].split('|');
        for (var i = 0; i < district_arr_list.length; i++) {
          option_str.options[option_str.length] = new Option(
            district_arr_list[i],
            district_arr_list[i]
          );
        }
      }

      function toggleInputs() {
        var nationality = document.getElementById('nationality').value;
        var stateDropdown = document.getElementById('state');
        var districtDropdown = document.getElementById('district');
        var stateText = document.getElementById('stateText');
        var districtText = document.getElementById('districtText');

        if (nationality === 'Indian') {
          stateDropdown.style.visibility = 'visible';
          districtDropdown.style.visibility = 'visible';
          stateText.style.visibility = 'hidden';
          districtText.style.visibility = 'hidden';
        } else {
          stateDropdown.style.visibility = 'hidden';
          districtDropdown.style.visibility = 'hidden';
          stateText.style.visibility = 'visible';
          districtText.style.visibility = 'visible';
        }
      }
    </script>
  </head>
  <body onload="print_state('state');">
    <!-- Loader -->
    <div
      id="loader"
      class="fixed inset-0 flex items-center justify-center bg-white z-50"
    >
      <div
        class="w-16 h-16 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin"
      ></div>
    </div>

    <!-- Main Content -->
    <div id="content">
      <div id="header"></div>

      <div class="register-form">
        <form
          action="/student/register"
          autocomplete="off"
          method="POST"
          enctype="multipart/form-data"
          id="registerForm"
          onsubmit="return handleSubmit(event)"
        >
          <h2 class="text-2xl font-semibold mb-5 text-gray-800">
            Student Registration
          </h2>
          <div class="form-container">
            <table>
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="rollno">Roll Number:</label>
                    </th>
                    <td>
                      <input
                        type="text"
                        id="rollno"
                        name="rollno"
                        required
                        readonly
                        value="<%= student.rollno %>"
                      />
                    </td>
                  </div>

                  <div class="input-column"></div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="student_name"
                        >Student Name:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input type="text" name="student_name" required />
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="father_name"
                        >Father's Name:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input
                        type="text"
                        id="father_name"
                        name="father_name"
                        required
                      />
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="dob"
                        >Date of Birth:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input
                        type="text"
                        id="dob"
                        name="dob"
                        required
                        readonly
                        value="<%= student.dob %>"
                      />
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="gender">Gender:</label>
                    </th>
                    <td>
                      <input
                        type="radio"
                        id="male"
                        name="gender"
                        value="Male"
                        checked
                      />
                      <label for="male">Male</label>
                      <input
                        type="radio"
                        id="female"
                        name="gender"
                        value="Female"
                      />
                      <label for="female">Female</label>
                      <input
                        type="radio"
                        id="others"
                        name="gender"
                        value="Others"
                      />
                      <label for="others">Others</label>
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="religion"
                        >Religion:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <select name="religion" id="religion" required>
                        <option value="" disabled selected>
                          Select your Religion
                        </option>
                        <option value="Hindu">Hindu</option>
                        <option value="Muslim">Muslim</option>
                        <option value="Sikh">Sikh</option>
                        <option value="Christian">Christian</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="category"
                        >Admission Category:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <select name="category" id="category" required>
                        <option value="GEN" selected>General</option>
                        <option value="SC">SC</option>
                        <option value="ST">ST</option>
                        <option value="OBC">OBC</option>
                        <option value="Pahari">Pahari</option>
                        <option value="KM">Kashmiri Migrant (KM)</option>
                        <option value="Sports">Sports</option>
                      </select>
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="phone_no"
                        >Phone Number:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input
                        type="tel"
                        id="phone_no"
                        name="phone_no"
                        minlength="10"
                        maxlength="10"
                        required
                      />
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="email"
                        >Email:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input type="email" id="email" name="email" required />
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="department"
                        >Department:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <div id="department-container">
                        <select name="department" id="department" required>
                          <option value="" disabled selected>
                            Select your Department
                          </option>
                          <option value="Computer Science">
                            Computer Science
                          </option>
                          <option value="Information Technology">
                            Information Technology
                          </option>
                          <option value="Computer Science">
                            Electrical Engineering
                          </option>
                          <option
                            value="Electronics and Communication Engineering"
                          >
                            Electronics and Communication Engineering
                          </option>
                          <option value="Chemical Engineering">
                            Chemical Engineering
                          </option>
                          <option value="Mining Engineering">
                            Mining Engineering
                          </option>
                          <option value="Petroleum Engineering">
                            Petroleum Engineering
                          </option>
                          <option value="Civil Engineering">
                            Civil Engineering
                          </option>
                          <option value="Mechanical Engineering">
                            Mechanical Engineering
                          </option>
                          <option value="Production and Industrial Engineering">
                            Production and Industrial Engineering
                          </option>
                          <option value="Department of Physics">
                            Department of Physics
                          </option>
                          <option value="Department of Chemistry">
                            Department of Chemistry
                          </option>
                          <option value="Department of Botany">
                            Department of Botany
                          </option>
                          <option value="Department of Mathematics">
                            Department of Mathematics
                          </option>
                          <option value="Department of Law">
                            Department of Law
                          </option>
                          <option value="Other">Any Other</option>
                        </select>
                      </div>
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="year_of_admission"
                        >Year of Admission:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input
                        type="text"
                        id="year_of_admission"
                        name="year_of_admission"
                        required
                      />
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="nationality">Nationality:</label>
                    </th>
                    <td>
                      <select
                        id="nationality"
                        name="nationality"
                        onchange="toggleInputs()"
                      >
                        <option value="">Select Nationality</option>
                        <option value="Indian" selected>Indian</option>
                        <option value="Other">Other</option>
                      </select>
                    </td>
                  </div>

                  <div id="stateContainer" class="input-column">
                    <th>
                      <label for="state"
                        >State:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <select
                        id="state"
                        name="domicile_state"
                        style="margin-bottom: 0"
                        onchange="print_district('district', this.selectedIndex)"
                      >
                        <option value="">Select State</option>
                      </select>
                      <input
                        type="text"
                        id="stateText"
                        name="domicile_state"
                        placeholder="Enter Your State"
                        style="visibility: hidden"
                        style="margin-bottom: 0"
                      />
                    </td>
                  </div>
                </div>
              </tr>

              <!--*****************-->
              <tr>
                <div id="districtContainer" class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="district"
                        >District:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <select
                        id="district"
                        name="district"
                        style="margin-bottom: 0"
                      >
                        <option value="">Select District</option>
                      </select>
                      <input
                        type="text"
                        id="districtText"
                        name="districtText"
                        placeholder="Enter Your District"
                        style="visibility: hidden"
                        style="margin-bottom: 0"
                      />
                    </td>
                  </div>
                  <div class="input-column">
                    <th>
                      <label for="pin_code"
                        >Pincode:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input
                        type="number"
                        id="pin_code"
                        name="pin_code"
                        required
                      />
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="permanent_address"
                        >Permanent Address:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <textarea
                        id="permanent_address"
                        name="permanent_address"
                        rows="2"
                        required
                      ></textarea>
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="correspondence_address"
                        >Correspondence Address:<span id="star-span"
                          >*</span
                        ></label
                      >
                    </th>
                    <td>
                      <textarea
                        id="correspondence_address"
                        name="correspondence_address"
                        rows="2"
                        required
                      ></textarea>
                    </td>
                  </div>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <div class="input-column">
                    <th>
                      <label for="profile_pic"
                        >Profile Picture:<span id="star-span">*</span></label
                      >
                    </th>
                    <td>
                      <input
                        type="file"
                        name="profile_pic"
                        accept="image/*"
                        id="fileInput"
                        required
                      />
                    </td>
                  </div>

                  <div class="input-column">
                    <th>
                      <label for="marital_status">Marital Status:</label>
                    </th>
                    <td>
                      <input
                        type="radio"
                        id="unmarried"
                        name="marital_status"
                        value="Unmarried"
                        checked
                      />
                      <label for="unmarried">Unmarried</label>

                      <input
                        type="radio"
                        id="married"
                        name="marital_status"
                        value="Married"
                      />
                      <label for="married">Married</label>
                    </td>
                  </div>
                  <tr>
                    <figure>
                      <td>
                        <figcaption id="imagePreview-caption">
                          Preview Profile Picture (50kb-200kb)
                        </figcaption>
                      </td>
                      <td>
                        <img
                          id="imagePreview"
                          src=""
                          alt="Selected Image"
                          onerror="this.style.display='none'"
                          ;
                        />
                      </td>
                    </figure>
                  </tr>
                </div>
              </tr>
              <!--*****************-->
              <tr>
                <div class="form-column">
                  <th>
                    <div class="input-column"></div>
                  </th>
                  <td>
                    <div class="input-column"></div>
                  </td>
                </div>
                <!--*****************-->
              </tr>
            </table>
          </div>
          <div class="btn-div relative">
            <button
              type="submit"
              class="w-24 px-1 bg-green-600 text-white text-center py-2 rounded-md font-medium hover:bg-green-700 focus:ring focus:ring-green-500 absolute right-24 bottom-2 cursor-pointer"
            >
              <i class="fa-solid fa-user mr-1"></i>
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    <script defer>
      function handleSubmit(event) {
        event.preventDefault(); // Prevent form submission to handle it via JavaScript

        const form = document.getElementById('registerForm');
        const formData = new FormData(form);

        fetch('/student/register', {
          method: 'POST',
          body: formData,
        })
          .then((response) => {
            if (response.ok) {
              alert('Registration successful!');
              window.location.href = '/student/dashboard';
            } else {
              alert('Registration failed (Recheck Details).');
            }
          })
          .catch((error) => {
            console.error('Error:', error);
            alert('An error occurred while submitting the form.');
          });
      }

      const form = document.getElementById('registerForm');

      form.addEventListener('submit', function (event) {
        // Prevent the form from submitting by default
        event.preventDefault();

        // Ask for confirmation
        const confirmation = confirm(
          'Are you sure you want to submit this form?'
        );

        // If user confirms, submit the form
        if (confirmation) {
          form.submit(); // This submits the form
        } else {
          // Optionally, you can handle if the user cancels the submission
          console.log('Submission cancelled.');
        }
      });

      document.getElementById('registerForm').onsubmit = function () {
        // ****************** //
        // Get all elements with a specific tag name
        var elements = document.getElementsByTagName('input');
        // Loop through each element
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];

          // Check if element's visibility is hidden
          var computedStyle = window.getComputedStyle(element);
          if (
            computedStyle.getPropertyValue('visibility') === 'hidden' ||
            computedStyle.getPropertyValue('display') === 'none'
          ) {
            // Set disabled attribute to true
            element.disabled = true;
          }
        }

        // Get all elements with a specific tag name
        var elements2 = document.getElementsByTagName('select'); // Replace 'input' with your desired tag name

        // Loop through each element
        for (var i = 0; i < elements2.length; i++) {
          var element = elements2[i];

          // Check if element's visibility is hidden
          var computedStyle = window.getComputedStyle(element);
          if (
            computedStyle.getPropertyValue('visibility') === 'hidden' ||
            computedStyle.getPropertyValue('display') === 'none'
          ) {
            // Set disabled attribute to true
            element.disabled = true;
          }
        }
      };

      // Image Size and preview photo
      document
        .getElementById('fileInput')
        .addEventListener('change', function (event) {
          const file = event.target.files[0]; // Get the selected file
          if (file) {
            const fileSizeInKB = file.size / 1024; // Convert file size to KB

            // Check file size limits
            if (fileSizeInKB < 50 || fileSizeInKB > 200) {
              alert('Image size must be between 50KB and 200KB.');
              event.target.value = ''; // Reset the file input
              document.getElementById('imagePreview').style.display = 'none'; // Hide the preview
              return;
            }

            const reader = new FileReader(); // Create a FileReader instance
            reader.onload = function (e) {
              const imagePreview = document.getElementById('imagePreview');
              imagePreview.src = e.target.result; // Set the preview image source
              imagePreview.style.display = 'block'; // Display the image
            };
            reader.readAsDataURL(file); // Read the file as a data URL
          }
        });
    </script>
  </body>
</html>
